<ion-view view-title="Home" name="Home-view">

<ion-header-bar class="bar-positive">
  <h1 class="title">Intelligent Home Assistant</h1>
</ion-header-bar>


<ion-content on-double-tap="actionSheet()">
  <button class="button button-block button-royal" ng-click="refreshSwitches()"><i class="icon ion-refresh"></i> Refresh</button>

  <ion-item ng-repeat="switch in switches">
  	<ion-toggle ng-model="switch.checked" ng-change="updateSwitches(switch)" toggle-class="toggle-calm">{{ switch.text }}</ion-toggle>
  </ion-item>
</ion-content>

<ion-footer-bar class="bar-assertive">
  <h1 class="title">&copy; Bingbong, 2015</h1>
</ion-footer-bar> 

</ion-view>