<ion-view view-title="Login" name="login-view">

<ion-header-bar class="bar-positive">
  <h1 class="title">Intelligent Home Assistant</h1>
</ion-header-bar>

  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>

<ion-footer-bar class="bar-assertive">
  <h1 class="title">&copy; Bingbong, 2015</h1>
</ion-footer-bar> 

</ion-view>