<div class="row offset">
  <div class="pull-right"><a href="#" ng-click="logout()">Logout </a></div>
  <h2>Intelligent Home Assistant</h2>
  <hr>
  <button class="btn btn-lg btn-info" ng-click="refresh()">Refresh 
  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>

  <div ng-repeat="switch in switches">
	  <p class="page-header"></p>
	  <h4>{{ switch.text }}</h4>
	  <div class="btn-group btn-toggle"> 
	    <button class="btn btn-lg btn-default"
	    ng-class="{'btn-primary active': switch.checked}"
	    ng-click="update(switch)">ON</button>
	    <button class="btn btn-lg btn-default"
	    ng-class="{'btn-primary active': !switch.checked}"
	    ng-click="update(switch)">OFF</button>
	  </div>
	  <hr>
	</div>
</div>