  
  <div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" ng-model="data.username" placeholder="Username"  autofocus="" />
      <input type="password" class="form-control" ng-model="data.password" placeholder="Password" />
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button>   
    </form>
  </div>

  <modal title="Login Failed" visible="showModal">
     <p> Please check your credentials! </p>
  </modal>